:root {
    --white: #ffffff;
    --black: #000000;
    --primary_dark: #9CA3AF;
    --primary_mid: #D1D5DB;
    --primary_light: #F9FAFB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    background-color: var(--black);
}