.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    border-bottom: .5px solid var(--primary_mid);
}

.logoLink {
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary_light);
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.logoTextUp {
    text-decoration: none;
    font-size: 17.8px;
}

.logoTextDown {
    text-decoration: none;
    font-size: 16px;
}

.logoText3 {
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    gap: 42px;
    letter-spacing: 1px;
    font-size: 12px;
}

.menu > a {
    position: relative;
    color: var(--primary_mid);
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary_light);
    transform-origin: bottom right;
    transition: transform .4s ease-out;
}

.menu a:hover {
    color: var(--primary_light);
}

.menu a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.toggle {
    display: none;
    color: var(--primary_light);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .header {
        position: relative;
        padding: 15px 0;
    }

    .toggle {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu_active {
        z-index: 2;
        position: absolute;
        top: 96px;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-style: solid;
        border-color: var(--primary_dark);
        gap: 36px;
        padding: 28px;
        background-color: black;
        letter-spacing: .5px;
    }

    .menu_active > a {
        text-decoration: none;
        color: rgb(249 250 251);
        font-size: 10px;
    }
}